# Welcome To Your Notebook

This is the Jupyter Notebook experience, where you can write code and get a response, all together. 

You can find commands at the top bar, but there are a select set of keyboard commands that are useful in working through notebooks. 

* ``Ctrl + s`` - save your work. Do this often!
* ``Ctrl + Enter`` - run the cell.
* ``Esc m`` (this means hit the ``Esc`` key then the ``m`` key separately) - this turns a cell in the notebook to [Markdown](https://daringfireball.net/projects/markdown/) which allows you to write normally and take notes and explain.
* ``Esc a`` - create a new cell above this one.
* ``Esc b`` - create a new cell below this one.
* ``Esc d d`` - delete this cell (note you press ``d`` twice)

# Lesson 2 - Tuples, Lists, and Dicts

First, we need to understand _variables_. We can assign a **name** to everything that we create, so we can reference it later. 

``=`` is called the _assignment operator_ since it assigns a value to a name.

In [52]:
# Note - no output is given here because there is nothing that is output. 
daddys_number = 66

In [57]:
daddys_number = daddys_number + 10

In [58]:
daddys_number

76

In [62]:
car = 34

In [63]:
car + car + 34

102

In [61]:
daddys_number >= 76

True

**In Python, _tuples_, _lists_, and _dicts_ are important ways in which we keep information.**

[Python documentation on on tuples, lists, and dicts](https://docs.python.org/3.8/library/stdtypes.html#sequence-types-list-tuple-range)

In [ ]:
tuple_example = ("Ben", "Claire", "Alaina", 1, 2, 3)

In [ ]:
list_example =  ["Ben", "Claire", "Alaina", 1, 2, 3]

You can access the individual components of a tuple or a list.

In [64]:
tuple_example[0]

'Ben'

In [65]:
list_example[2]

'Alaina'

In [66]:
tuple_example[-1]

3

In [75]:
family = ["Ben", "Claire", "Alaina", "alki", "runaway", "maya", "Zzzzzzzzzzzzzzz"]

In [76]:
sorted(family)

['Alaina', 'Ben', 'Claire', 'Zzzzzzzzzzzzzzz', 'alki', 'maya', 'runaway']

**What's the difference?**

Lists are _mutable_. Tuples are _immutable_.

In [77]:
list_example

['Ben', 'Claire', 'Alaina', 1, 2, 3, 'Daddy']

In [82]:
list_example.append("Mommy")
list_example

['Ben', 'Claire', 'Alaina', 1, 2, 3, 'Daddy', 'Mommy', 'Mommy']

In [79]:
list_example.pop()

'Mommy'

In [80]:
list_example

['Ben', 'Claire', 'Alaina', 1, 2, 3, 'Daddy']

## Dicts

Dicts allow for _inputs_ and _outputs_. We can associate specific information with specific inputs. So if we wanted to keep track of the ages for each kid:

In [ ]:
kids_ages = {"Ben": 9, "Claire": 9, "Alaina": 8}

In [ ]:
kids_ages["Daddy"] = 37

In [ ]:
kids_ages["Ben"] = 10

In [ ]:
kids_ages

In all of these, the ``len`` function is important.

In [ ]:
list_example

In [ ]:
len(list_example)

In [ ]:
tuple_example

In [ ]:
len(tuple_example)

In [ ]:
len(kids_ages)

## Building up lists and dicts

We use a ``for`` loop to _iterate_ over and do a bunch of things in a cycle. For example:

In [ ]:
# Sometimes we want to use special functions that are available in an existing library. The import command allows us to do that.
import time

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
for i in range(10):
    print(i)
    time.sleep(1)

In [ ]:
plus_two = []
for i in range(10):
    plus_two.append(i+2)
    print("plus_two is now " + str(plus_two))
    time.sleep(1)

In [ ]:
plus_two_quick = []
for i in range(10):
    plus_two_quick.append(i+2)

plus_two_quick

## Exercise

Create a list of length 10 that lists square numbers (starting at 0). Use a for loop.
Your result should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Create a dict of length 0 that associates each number to its square.
Your result should be {0:0, 1:1, 2:4, ..., 9:81}